# Dépendances & artefacts
/vendor/
/node_modules/
/bootstrap/cache/
/public/storage
/public/hot
/public/build
/.vite
/.idea/
/.vscode/

# Environnements & clés
.env
.env.*.local
.phpunit.result.cache
.php-cs-fixer.cache
/storage/*.key

# Cache & logs
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

# Systèmes
.DS_Store
Thumbs.db

# Divers
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#log branch
.env.example
.editorconfig
scripts/
0202-git-commands.png
back-Merge.md
CONTRIBUTING.md
documentation.md
Essential.md
index.html
LICENSE
SemVer.md
